<table class="cup">
  <% @tournament.rounds.each do |round| %>
      <tr>
        <% round.matches.each do |match| %>
          <td colspan="<%= (@tournament.users.length / 2) / round.matches.length %>">
            <%= render :partial => "player", :object => match.home_player %>
          </td>  
          <td colspan="<%= (@tournament.users.length / 2) / round.matches.length %>">
            <%= render :partial => "player", :object =>  match.away_player  %>
          </td>  
        <% end %>
      </tr>
  <% end %>
</table>
