<li class="leader cf">
<%= render :partial => "player", object: leader.player %>
<div class="stats">
  <span><b> <%= leader.wins %></b> wins</span>
  <span><b> <%= leader.losses %></b> losses</span>
</div>
</li>
