<li class="round large">
<div class="player">
  <span class="playergotchi" style="background-image:url('<%= matchup.home_player.gravatar_url %>');"><br/>3 Wins<br/>4 Loses</span>
  <blockquote>
  <cite><%= matchup.home_player.username %></cite>:
    Yo Dog, your mama is so big, she actually turns around the earth.</blockquote>
</div>
<em>VS</em>
<div class="player">
  <span class="playergotchi" style="background-image:url('<%= matchup.away_player.gravatar_url %>');"><br/>3 Wins<br/>4 Loses</span>
  <blockquote>
  <cite><%= matchup.away_player.username %></cite>:
    Yo Dog, your mama is so big, she actually turns around the earth.</blockquote>
</div>
</li>
