<section class="tournament_edit fancy_form">
<h2>Edit "<%= @tournament.name %>"</h2>
<%= render partial: "form" %>
<% if !@tournament.open? %>
  <% link_to "recreate tournament hash", recreate_hash_tournament_path(@tournament.id), :method => :post %>
<% end %>
</section>
