<section>
<h2>Tournaments</h2>
<% if @tournaments.any? %>
<ol class="tournaments_list">
  <%= render :partial => "tournament", :collection => @tournaments %>
</ol>
<% else %>
  Nothing to show
<% end %>
</section>
