<section class="quick_intro">
<!-- Defining fun via playOday -->
<ul>
  <li>
  <%= image_tag "http://placehold.it/250x250" %>
  <!-- Document Outlines: http://www.456bereastreet.com/archive/201104/html5_document_outline_revisited/ -->
  <h2>Signup</h2>
  </li>
  <li>
  <%= image_tag "http://placehold.it/250x250" %>
  <h2>Gather</h2>
  </li>
  <li>
  <%= image_tag "http://placehold.it/250x250" %>
  <h2>Play</h2>
  </li>
  <li>
  <%= image_tag "http://placehold.it/250x250" %>
  <h2>Enjoy!</h2>
  </li>
</ul>
</section>
<section class="cta">

</section>
<section class="testimonials">
<h2>People actually said about playOday:</h2>
<!-- Do not use divs everywhere. These are similar items and we should reflect this in the html. Yes I know this can be applied to pretty much all of the DOM. Do not argue with me in here. This is my code!! -->
<ul>
<li>
  <blockquote>
    I lost 100 pounds in 3 days organizing my play days with playOday.
  </blockquote>
  <cite>
    Jim Lerris<br/>
    Author & Enterpreneur
  </cite>
</li>

<li>
  <blockquote>
    I attribute all my racing achievements to playOday! What? ... yes I know I never actually finished a race...
  </blockquote>
  <cite>
    David Reinemacher Jenson<br/>
    Python Core Developer
  </cite>
</li>

<li>
  <blockquote>
    Ni, ni, ni, ni, ni, ni...
  </blockquote>
  <cite>
    The knights who say ni<br/>
    Killer knights
  </cite>
</li>
</ul>
</section>
