<section class="quick_intro">
  <!-- Defining fun via playOday -->
  <ul>
    <li>
      <%= image_tag "http://placehold.it/250x250" %>
    </li>
    <li>
      <%= image_tag "http://placehold.it/250x250" %>
    </li>
    <li>
      <%= image_tag "http://placehold.it/250x250" %>
    </li>
  </ul>
</section>
<section class="cta">
</section>
