development:
  adapter: mysql2
  username: root
  password: 
  database: playoday
  host: localhost
  encoding: utf8

production:
  adapter: mysql2
  username: playoday
  password: gaobio
  database: playoday
  host: localhost
  encoding: utf8

test:
  adapter: mysql2
  username: root
  password: root
  database: playoday_test
  host: localhost
  encoding: utf8
