// Up tp 1180px, responsive below this
$max-content-width:1180px;

// Colors used, Please only use these vars if possible
$main_orange:#f68b24;

$dark_black:#3b3b3b;
$main_black:#333;
$light_black:#707070;
$grey_black:#999;

$error: #EF4136;
$light_error: #DFADAA;

$dirty_white:#f1f1f1;
$dark_white:#dfdfdf;

//Font declarations
$basic_font_stack:'Source Sans Pro', Verdana,Arial,sans-serif;
$marker_font: 'Permanent Marker', cursive;
$akronim_font: 'Calligraffitti', cursive;

// The basic unit of measure
$bu:12px;


html {
  background:$dirty_white image-url('cardboard_flat.png') center center repeat;
}

body {
  font: normal 14px $basic_font_stack;
  color: $main_black;
}

h2 {
  font-family:'Permanent Marker', cursive;
  font-size:$bu*2;
  margin-bottom:$bu*2;
  margin-top:0px;
  text-shadow:1px 1px 0px white;
}
 

header {
  border-bottom:6px solid #05A9CE;
  h1 {
    float:left; 
    a {
      color:$main_black;
      text-decoration:none;
      span {
        font-family: $marker_font;
        font-size:70px;
        position:relative;
        z-index:1;
        display:inline;
      }
      em {
        font-family: $akronim_font;
        font-size:140px;
        line-height:140px;
        color:$error;
        position:relative;
        left:-22px;
        bottom:-20px;
        z-index:0;
        display:inline;
      }
      em + span {
        left:-50px;
      }
    }
  }
  nav {
    float:right;
    margin-top:60px;
    a {
      color:$dark_black;
      text-decoration:none;
      border-bottom:1px dotted $dirty_white;
    }
  }
}

footer {
  background-color:$main_black;
  border-top:1px solid $dirty_white;
  color:$dirty_white;
  width:100%;
  padding:$bu*2 0;
  ul {
    display:inline-block;
    width:33%;
    padding:0 $bu*3 0 0 ;
    @include box-sizing(border-box);
    li {
      list-style-type:disc;
      list-style-position:inside;
      padding:$bu/2 0;
      a {
        text-decoration:none;
        color:$main_orange;
        font-weight:300;
      }
      a:hover {
        border-bottom:1px dotted $main_orange;
      }
    }
    li:first-child {
      list-style-type:none;
    }
  }
  .copyright {
    color:$dark_white;
    font-size:11px;
    margin-top:$bu;
    border-top:1px dotted $light_black;
    padding-top:$bu;
    span {
      float:right;
    }
  }
}

.wrapper {
  max-width:$max-content-width;
  margin:0 auto;
  @include box-sizing(border-box);
}

.content {
  padding-top:$bu*2;
}

section {
  padding:$bu*2 0;
}

.base_button
{
    border-top: 1px solid #f5b37a;
    background: #d9680b;
    background: -webkit-gradient(linear, left top, left bottom, from(#f68924), to(#d9680b));
    background: -webkit-linear-gradient(top, #f68924, #d9680b);
    background: -moz-linear-gradient(top, #f68924, #d9680b);
    background: -ms-linear-gradient(top, #f68924, #d9680b);
    background: -o-linear-gradient(top, #f68924, #d9680b);
    padding: $bu $bu*2;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,.5) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,.5) 0 1px 0;
    box-shadow: rgba(0,0,0,.5) 0 1px 0;
    text-shadow: rgba(0,0,0,.2) 0 1px 0;
    color: white;
    font-family: $basic_font_stack;
    text-decoration: none;
    vertical-align: middle;
    border:none;
}

.base_button:hover {
     border-top-color: #f5770a;
     background: #f5770a;
     color: #000000;
}

.base_button:active {
     border-top-color: #1b435e;
     background: #1b435e;
}

label {
  font-weight:bold;
  font-size:$bu*1.5;
  display:block;
  margin-bottom:5px;
}
input[type='text'], input[type='password'], input[type='email'] {
  padding:5px;
  font-weight:normal;
  font-size:$bu*1.2;
}

#error_explanation {
  border:1px solid $error;
  background-color:$light_error;
  padding:$bu;
  h2 {
    font:bold $bu*1.4 $basic_font_stack;
    margin-bottom:$bu;
  }
  ul {
    li {
      font-size:$bu;
    }
  }
}

.field_with_errors input {
  border:1px solid $error;
}
