// Up tp 1180px, responsive below this
$max-content-width:1180px;

hgroup {
  background-color:white;
  h1 {
    font-family: 'Permanent Marker', cursive;
    font-size:70px;
    color:#f68b24;
    position:relative;
    z-index:1;
    display:inline;
  }
  h2 {
    font-family: 'Akronim', cursive;
    font-size:140px;
    color:#333;
    position:relative;
    left:-22px;
    bottom:-20px;
    z-index:0;
    text-shadow:1px 1px 0px black;
    display:inline;
  }
  h2 + h1 {
    left:-50px;
    color:#3886e7;
  }
}

.wrapper {
  position:relative;
  overflow:hidden;
  width:98%;
  max-width:$max-content-width;
  margin:0 auto;
  @include box-sizing(border-box);
  background-color:#ccc;
}





