// Place all the styles related to the tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// This is a general playergotchi layout
$sidebar_width: 400px;

.playergotchi {
    display:inline-block;
    box-shadow:none;
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    overflow:hidden;
    height:60px;
    border-radius:18px;
    width:60px;
    border:2px solid white;
    color:transparent;
    text-align:center;
    font-family:$marker_font;
    line-height:20px;
    background-color:white;
}

.playergotchi:hover,
{
    border-color:$dark_black;
    color:white;
    font-size:$bu;
    box-shadow:inset 0px 0px 75px 0px rgba(0,0,0,1);
}

.large .playergotchi {
    height:80px;
    border-radius:26px;
    width:80px;
}

.tournament_summary {
  border-bottom:1px dotted $light_black;
  padding:$bu;
  position:relative;
  h3 {
    font-weight:700;
    font-size:$bu*2.5;
    margin-bottom:$bu;
    a {
      color:$main_black;
      text-decoration:none;
    }
  }
  p {
    color:$grey_black;
  }
  .stats {
    font-weight:400;
    font-size:$bu*1.5;
    position:absolute;
    right:$bu;
    top:15px;
    span {
      color:$main_orange;
    }
    a {
      display:block;
      color:$main_orange;
      text-decoration:none;
    }
    a:hover {
      border-bottom:1px dotted $main_orange;
    }
  }
}

.tournaments_list {
  li {
    padding:$bu;
    position:relative;
  }
}

$arrow_head:10px;
.tournament_rounds {
  float:left;
  margin-right:$sidebar_width;
  .round {
    padding:$bu 0;
    .player {
      display:inline-block;
      width:35%;
      text-align:right;
      blockquote {
        font-size:$bu*1.2;
        font-style:italic;
        margin:0px;
        background-color:$dirty_white;
        padding:$bu;
        position:relative;
        -webkit-filter: drop-shadow(0 1px 5px rgba(0,0,0,.1));
        -moz-filter: drop-shadow(0 1px 5px rgba(0,0,0,.1));
        -ms-filter: drop-shadow(0 1px 5px rgba(0,0,0,.1));
        -o-filter: drop-shadow(0 1px 5px rgba(0,0,0,.1));
        filter: drop-shadow(0 1px 5px rgba(0,0,0,.1));
        margin-top:12px;
        cite {
          font-weight:700;
        }
      }
      blockquote:after {
        content:"";
        position:absolute;
        top:-$arrow_head;
        right:40px;
        border-bottom:$arrow_head solid $dirty_white;
        border-left:$arrow_head solid transparent;
        border-right:$arrow_head solid transparent;
      }
    }
    em + .player {
      text-align:left;
      $arrow_head:10px;
      blockquote:after {
        left:40px;
        right:auto;
      }
    }
    em {
      font-size:60px;
      font-family:$marker_font;
      vertical-align:top;
      margin:0px 3*$bu;
      color:$error;
    }
  }
  .round.small {
    .player {
      blockquote {
        display:none;
      }
    }
    em {
      font-size:20px;
    }
  }
}

.cup {
  margin-right:0px;
  float:none;
  width:100%;
  table {
    width:100%;
  }
  tr {
    td {
      padding:20px 5px;
      text-align:center;
    }
    td:nth-child(2n) {
      padding-right:40px;
    }
    th {
        text-align:center;
        padding:5px;
        font-family:$marker_font;
        background-color:$light_black;
        color:$dirty_white;
    }
  }
}

.leaderboard {
  float:right;
  margin-left:-$sidebar_width;
  width:$sidebar_width;
  ol {
    counter-reset:li;
    li {
      position:relative;
      padding:0px 0px $bu 40px;
    }
    li:before {
      content:counter(li) ". ";
      counter-increment:li;
      display:inline-block;
      position:absolute;
      left:0px;
      top:5px;
      height:40px;
      width:40px;
      color:white;
      text-align:center;
      font-family:$marker_font;
      font-size:2*$bu;
    }
  }
}
