.signup {
  width:60%;
  border-right:1px dotted $light_black;
  div {
    margin-bottom:10px;
    font-size:$bu*1.5;
    position:relative;
    small {
      font-size:$bu*0.8;
      left:110%;
      width:40%;
      position:absolute;
    }
  }
}


