section {
  padding:$bu*2;
}

.quick_intro {
  ul {
    margin:0px;
    padding:0px;
    li {
      float:left;
      text-align:center;
      width:25%;
      @include box-sizing(border-box);
      padding-right:$bu*1.5;
      img {
        padding:3px;
        background-color:white;
      }
      h2 {
        font:normal $bu*2 $marker_font;
      }
    }
    li:last-child {
      padding-right:0;
    }
  }
}

.convert {
  div {
    background-color:$dark_black;
    box-shadow:0px 0px 15px rgba(0,0,0,0.4);
    border-radius:3px;
    padding:$bu*2;
    margin:0px;
  }
  p {
    float:left;
    margin-right:300px;
    font:normal $bu*1.5 $basic_font_stack;
    line-height:1.3em;
    color:$dirty_white;
  }
  .cta {
    float:right;
    margin-left:-300px;
    font-size:34px;
  }
}

.testimonials {
  h2 {
    font-family:'Permanent Marker', cursive;
    font-size:$bu*2;
    margin-bottom:$bu*2;
    margin-top:0px;
  }
  ul {
    margin:0px;
    li {
      float:left;
      width:25%;
      padding-right:$bu*3;
      @include box-sizing(border-box);
      blockquote {
        font-size:$bu*1.2;
        font-style:italic;
        margin:0px;
        background-color:$dirty_white;
        height:$bu*4.5;
        padding:$bu/1.5;
        position:relative;
        -webkit-filter: drop-shadow(0 1px 5px rgba(0,0,0,.1));
        -moz-filter: drop-shadow(0 1px 5px rgba(0,0,0,.1));
        -ms-filter: drop-shadow(0 1px 5px rgba(0,0,0,.1));
        -o-filter: drop-shadow(0 1px 5px rgba(0,0,0,.1));
        filter: drop-shadow(0 1px 5px rgba(0,0,0,.1));
      }
      $arrow_head:10px;
      blockquote:after {
        content:"";
        position:absolute;
        bottom:-$arrow_head;
        left:20px;
        border-top:$arrow_head solid $dirty_white;
        border-left:$arrow_head solid transparent;
        border-right:$arrow_head solid transparent;
      }
      cite {
        display:block;
        background-color:$dark_white;
        padding:$bu $bu/2;
        color:$light_black;
        span {
          display:block;
          color:$grey_black;
          font-size:$bu*0.9;
        }
      }
    }
  }
}
